
  @if (erroConexao === true) {   
    <mat-card>
      <mat-card-content>
          <mat-error>Servidor fora do ar. Estamos em manutenção!!</mat-error>
      </mat-card-content>
    </mat-card>
  }
  @else {
    <!-- @if (cadastrado === true){
    <simple-snack-bar></simple-snack-bar>
      <app-snack-bar
        [mensagem]="mensagem"
        [style]="'success'"
      ></app-snack-bar>
    } -->
      <form class="example-form" [formGroup]="pessoaForm">        
          <comum-input-text
            [label]="'Nome'"
            [texto]="nomeControl"
            [placeholder]="'Informe o seu nome'"
            [errorTextEmpty]="'Nome não pode ser vazio!'"
            [errorTextValid]="'Nome tem que ter entre 3 e 50 letras!!'"
            [min]="3"
            [max]="50"
          ></comum-input-text>
          <app-email [label]="'E-mail'"
                    [placeholder]="'Ex.:pat@gmail.com'"
                    [email]="emailControl"
                    [erroEmailVazio]="'Insera um email valido'"
                    [erroEmailValido]="'Email está invalido'"
                    >
          </app-email>
          <comum-comparar-senha
            [senha]="senhaControl"
            [confirmarSenha]="confirmaSenhaControl"
          ></comum-comparar-senha>
          <div class="example-button-row">
            <button mat-raised-button color="primary"
                    (click)="enviarDados()" [disabled]="pessoaForm.status === 'INVALID'"
                    >Enviar</button>
            <!-- <button mat-raised-button color="primary"
                    (click)="enviarDados()"
                    >Enviar</button> -->
          </div>
      </form>
  }
  