
  @if (erroConexao === true) {   
    <mat-card>
      <mat-card-content>
          <mat-error>Servidor fora do ar. Estamos em manutenção!!</mat-error>
      </mat-card-content>
    </mat-card>
  }
  @else {
      @if (cadastrado === true) {   
        <mat-card>
          <mat-card-content>
              <p>{{mensagem}}</p>
          </mat-card-content>
        </mat-card>
      }
      <form class="example-form" [formGroup]="pessoaForm">        
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
              <input type="text" matInput formControlName="nome"  [errorStateMatcher]="matcher" placeholder="Nome" minlength="3" maxlength="50">
              <mat-error>Nome tem que ter entre 3 e 50 letras</mat-error>
          </mat-form-field>
          <app-email [label]="'E-mail'"
                    [placeholder]="'Ex.:pat@gmail.com'"
                    [email]="emailControl"
                    [erroEmailVazio]="'Insera um email valido'"
                    [erroEmailValido]="'Email está invalido'"
                    >
          </app-email>
          <comum-comparar-senha
            [senha]="senhaControl"
           [confirmarSenha]="confirmaSenhaControl"
          ></comum-comparar-senha>
          <div class="example-button-row">
            <button mat-raised-button color="primary"
                    (click)="enviarDados()"
                    [disabled]="pessoaForm.status === 'INVALID'">Enviar</button>
          </div>
      </form>
  }
  